.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
  text-align: center;
}



button:hover {
  background-color: #1147da;
}

h3 {
  margin-top: 20px;
  font-size: 24px;
}
